# CloudMart local environment

APP_ENV=local

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=cloudmart
POSTGRES_PASSWORD=cloudmart
POSTGRES_SSLMODE=disable

REDIS_ADDR=redis:6379

KAFKA_BROKERS=kafka:9092

OBJECT_STORAGE_ENDPOINT=http://minio:9000
OBJECT_STORAGE_ACCESS_KEY=cloudmart
OBJECT_STORAGE_SECRET_KEY=cloudmart123
OBJECT_STORAGE_BUCKET=product-images

OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

OIDC_ISSUER=http://identity:8080
