# Environment files
.env
.env.*
!.env.example

# Go
bin/
dist/
coverage.out
*.test

# Node / Angular
node_modules/
.angular/
dist/
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example

# Temporary files
tmp/
temp/
external-assets/
