go 1.26.6

use (
	./services/catalog-service
	./services/cart-service
	./services/order-service
	./services/inventory-service
	./services/payment-service
	./services/notification-service
	./services/web-bff
)
